extends layout.pug
block content 
  .errors-container
  .transaction-add 
    form.add-transaction 
      .form-group 
        label(for="stockId") Stock: 
        input.form-control(type="text" name="stockId" placeholder="Stock") 
      .form-group 
        label(for="action") Action: 
        select.form-control
          option(value='Buy') Buy
          option(value='Sell') Sell 
          option(value='Dividend') Dividend

      .form 
        .row  
          .col: label #Shares:
          .col: label Price:
          .col: label Exchanged ( #Shares x Price ):
        .row  
          .col: input.form-control(type="number" step="0.01" name="noShares")
          .col: input.form-control(type="number" step="0.01" name="price")
          .col: input.form-control(type="number" step="0.01" name="exchanged")
          
      .form-group
        label(name="fee") Fee: 
        input.form-control(type="number" step="0.01" name="fee")
      .form-group
        label(name="totalCredit") Total Credit(Exchanged - Fee): 
        input.form-control(type="number" step="0.01" name="totalCredit") 

      .form-group
        label(name="date") Date: 
        input.mr-2(type="date" name="date") 

        label(name="time") Time: 
        input(type="time" name="time")   

      button.btn.btn-primary(type="submit") Add   
      a.btn.btn-warning.ml-2(href='/transactions') Cancel  
  script(src="js/transaction-add.js")   





        
