extends layout.pug 
block content 
  .py-2
    a.btn.btn-success(ahref='/transaction/add' role='button') Add Transaction 
  div.transactions-container     
  script(src='/js/transactions-list.js')      